%p.msg-caveat.ui-corner-all
  Note 1: Be sure to follow up any messages you send with this system, and do not
  assume that they are being delivered reliably (yet).<br>
  Note 2: When sending many messages, the system may experience a time-out failure. If that happens,
  just wait a few moments and refresh the page.
#msg-form.ui-corner-all
  #msg-top
    = render :partial => 'text_inputs'
  #msg-bottom
    #groups
      = render :partial => 'groups'      
    #advanced 
      = render :partial => 'options'

