%p.msg-caveat.ui-corner-all= t('messages.be_sure_to_follow_up')
%br
#msg-form.ui-corner-all
  #msg-top
    = render :partial => 'text_inputs'
  #msg-bottom
    #groups
      = render :partial => 'groups'      
    #advanced 
      = render :partial => 'options'

