= fields_for :record do |form|
  .multiselect-groups-container
    = form.label :to_groups, t('messages.destination_groups')
    %br
    = form.select :to_groups, Group.order('group_name').collect {|x| [x.group_name, x.id]}, {}, :multiple => true, :size=>15, :class=>'multiselect-groups'            

