%h1 Sign In
%p 
  Use your existing account on FaceBook or Google to log in. 
  %br
  Your main email address listed on Facebook or Google must 
  %br
  match one of your addresses listed in this directory. If you do not have one of
  those then you will need to get one or the other and ask the moderator of this
  site to add it to your listing.
= link_to "Connect using your Facebook account", "/auth/facebook", :id => 'connect_facebook'
%br
%br
= link_to "Connect using your Google account", "/auth/google_oauth2", :id => 'connect_google'

