!!!
%html
  %head
    %meta{'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }
  %body
    %p= @content 
    %hr
    %p{'style' => "color: #666"}= t('outgoing.this_is_message_id_html', :id => @id)  
    - if @response_time_limit
      %p{'style' => "color: #666"}= t('outgoing.confirmation_request_html', 
        :time_limit => (respond_by(@response_time_limit, true)),
        :id => @id,
        :sms_number => SiteSetting.incoming_sms_number)
      %p{'style' => "color: #666"}= t('Thank you')

