Here are the latest updates to the SIM travel schedule:
- if @travel_updates.nil? || @travel_updates.empty? 
  = ""
  ** No changes found during last reporting period. **
- else 
  - @travel_updates.each do |travel| 
    = ""
    = render(:partial => "travels/travel", :object=>travel)

Do not reply to this email, it is for your information only. For questions, contact jos.travel@sim.org.
