%p Here are the latest updates to the SIM travel schedule:

- if @travel_updates.nil? || @travel_updates.empty? 
  = debug @travel_updates
  %p{:style=>'font-style: italic'} ** No changes found during last reporting period. **
- else 
  %ul
    - @travel_updates.each do |travel| 
      %li= render(:partial => "travels/travel", :object=>travel)
  - unless @email 
    = form_tag(send_travel_updates_path, :method => "put")  do
      = (submit_tag "Send") unless @email
%p Do not reply to this email; it is for your information only. For questions, contact jos.travel@sim.org.
