<h1>Listing sent_messages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sent_messages.each do |sent_message| %>
  <tr>
    <td><%= link_to 'Show', sent_message %></td>
    <td><%= link_to 'Edit', edit_sent_message_path(sent_message) %></td>
    <td><%= link_to 'Destroy', sent_message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sent message', new_sent_message_path %>
