# Insert your credentials here and change extension of this file to .rb
# Then do not save on public repository!
  ENV['IRON_WORKER_TOKEN'] = 'PUT TOKEN HERE'
  ENV['IRON_WORKER_PROJECT_ID'] = 'PUT PROJECT ID HERE'

